<div class="edit-container">
    <h1>Edit Profile</h1>

    <%= form_for @user do |f| %>
    <p><%= f.label :name, "Name:" %>
        <%= f.text_field :name, :class => 'text-field'%>
        <%= f.label :username, "Username:" %>
        <%= f.text_field :username, :class => 'text-field' %>
        <%= f.label :phone, "Phone Number:" %>
        <%= f.text_field :phone, :class => 'text-field' %>
    </p>
    <p>
        <%= f.label :email, "Email Address:" %>
        <%= f.text_field :email, :class => 'text-field' %>
        <%= f.label :password, "Password:" %>
        <%= f.password_field :password, :class => 'text-field' %>
    </p>
    <p>
        <%= f.submit "Save", :style => "margin-left: 20px;", :class => 'new-btn' %>
    </p>
    <%end%>

</div>