<div class="new-container">

    <h4>Welcome to</h4>
    <%= image_tag("crypto.svg") %>
    <br><br>
    <%= form_for @user do |f| %>
    <p>
      <%= f.text_field :name, placeholder: 'Name', :class => 'text-field'%>
      <%= f.text_field :username, placeholder: 'Username', :class => 'text-field' %>
      <%= f.text_field :phone, placeholder: 'Phone Number', :class => 'text-field' %>
    </p>
    <p>
      <%= f.text_field :email, placeholder: 'Email Address', :class => 'text-field' %>
      <%= f.password_field :password, placeholder: 'Password', :class => 'text-field' %>
    </p>
    <p>
      <%= f.submit "Sign Up", :class => 'new-btn' %>
    </p>
    <%end%>
</div>
