<div class="container">
    <div class="content">
        <h1 style="text-align: left; margin-left: 10%;">Welcome, <%= @user.name %>!</h1>
        <div class="row">
            <div class="column">
                <br>
                <p><span>Username:</span> <%= @user.username %></p>
                <p><span>Email:</span> <%= @user.email %></p>
                <p><span>Phone Number:</span> <%= @user.phone %></p>
                <p><%= button_to "Edit Profile", "/profile/#{@user.id}/edit", :method => :get, :class => "app-btn" %>
                <%= button_to "Add Funds", '/add_funds', :method => :get, :class => "app-btn" %></p>
            </div>
            <div class="column">
                <h3>Wallet</h3>
                <p><span>Cash:</span> $<%= @user.wallet %></p>
                <br>
                <p><span>Bitcoin:</span> Amount <%= @user.bitcoin %> / BTC</p>
                <p> Value $<%= @user.bitcoin * @bitcoin.value %> / USD</p>
                <hr>
                <p><span>Bitcoin Cash:</span> Amount <%= @user.bitcoin_cash %> / BCH</p>
                <p> Value $<%= @user.bitcoin_cash * @bitcoin_cash.value %> / USD</p>
                <hr>
                <p><span>Litecoin:</span> Amount <%= @user.litecoin %> / LTC</p>
                <p> Value $<%= @user.litecoin * @litecoin.value %> / USD</p>
                <hr>
                <p><span>Ethereum:</span> Amount <%= @user.ethereum %> / ETH</p>
                <p> Value $<%= @user.ethereum * @ethereum.value %> / USD</p>
                <hr>
                <p><span>Stellar:</span> Amount <%= @user.stellar %> / XLM</p>
                <p> Value $<%= @user.stellar * @stellar.value %> / USD</p>

            </div>
        </div>
    </div>
</div>