<div class="container">
    <div class="content">
        <h1 style="text-align: left; margin-left: 10%;">Welcome, <%= @user.name %>!</h1>
        <div class="row">
            <div class="column">
                <br>
                <p><span class="selector">Username:</span> <%= @user.username %></p>
                <p><span class="selector">Email:</span> <%= @user.email %></p>
                <p><span class="selector">Phone Number:</span> <%= number_to_phone(@user.phone) %></p>
                <p><%= button_to "Edit Profile", "/profile/#{@user.id}/edit", :method => :get, :class => "app-btn" %>
                    <%= button_to "Add Funds", '/add_funds', :method => :get, :class => "app-btn" %></p>
            </div>

            <div class="column">
                <%= image_tag("crypto.svg", {:style => "margin-bottom: 10px; width:300px;"}) %>
                <p><span class="selector">Cash:</span> $<%= number_with_delimiter(@user.wallet, :delimiter => ',') %></p>
                <% if @user.bitcoin > 0.0 %>
                <hr align="left" style="width:300px;">
                    <p><span class="selector">Bitcoin:</span> <%= @user.bitcoin.round(8) %> / BTC</p>
                    <p>
                    <span class="selector">Value:</span> $<%= number_with_delimiter((@user.bitcoin * @bitcoin.value).round(2), :delimiter => ',') %> / USD</p>
                <%end%>
                
                <% if @user.bitcoin_cash > 0.0 %>
                    <hr align="left" style="width:300px;">
                    <p><span class="selector">Bitcoin Cash:</span> <%= @user.bitcoin_cash.round(8) %> / BCH</p>

                    <p>
                    <span class="selector">Value:</span> $<%= number_with_delimiter((@user.bitcoin_cash * @bitcoin_cash.value).round(2), :delimiter => ',') %> / USD</p>
                <%end%>

                <% if @user.litecoin > 0.0 %>
                    <hr align="left" style="width:300px;">
                    <p><span class="selector">Litecoin:</span> <%= @user.litecoin.round(8) %> / LTC</p>
                    <p>
                    <span class="selector">Value:</span> $<%= number_with_delimiter((@user.litecoin * @litecoin.value).round(2), :delimiter => ',') %> / USD</p>
                <%end%>

                <% if @user.ethereum > 0.0 %>
                    <hr align="left" style="width:300px;">
                    <p><span class="selector">Ethereum:</span> <%= @user.ethereum.round(8) %> / ETH</p>
                    <p>
                    <span class="selector">Value:</span> $<%= number_with_delimiter((@user.ethereum * @ethereum.value).round(2), :delimiter => ',') %> / USD</p>
                <%end%>

                <% if @user.stellar > 0.0 %>
                    <hr align="left" style="width:300px;">
                    <p><span class="selector">Stellar:</span> <%= @user.stellar.round(8) %> / XLM</p>
                    <p>
                    <span class="selector">Value:</span> $<%= number_with_delimiter((@user.stellar * @stellar.value).round(2), :delimiter => ',') %> / USD</p>
                <%end%>

                <% if @user.eos > 0.0 %>
                    <hr align="left" style="width:300px;">
                    <p><span class="selector">EOS:</span> <%= @user.eos.round(8) %> / EOS</p>
                    <p>
                    <span class="selector">Value:</span> $<%= number_with_delimiter((@user.eos * @eos.value).round(2), :delimiter => ',') %> / USD</p>
                <%end%>

                <% if @user.monero > 0.0 %>
                    <hr align="left" style="width:300px;">
                    <p><span class="selector">Monero:</span> <%= @user.monero.round(8) %> / XMR</p>
                    <p>
                    <span class="selector">Value:</span> $<%= number_with_delimiter((@user.monero * @monero.value).round(2), :delimiter => ',') %> / USD</p>
                <%end%>

                <% if @user.qtum > 0.0 %>
                    <hr align="left" style="width:300px;">
                    <p><span class="selector">Qtum:</span> <%= @user.qtum.round(8) %> / QTUM</p>
                    <p>
                    <span class="selector">Value:</span> $<%= number_with_delimiter((@user.qtum * @qtum.value).round(2), :delimiter => ',') %> / USD</p>
                <%end%>


                    <% total = ((@user.qtum * @qtum.value)+(@user.monero * @monero.value)+(@user.eos * @eos.value)+(@user.stellar * @stellar.value)+(@user.ethereum * @ethereum.value)+(@user.litecoin * @litecoin.value)+(@user.bitcoin_cash * @bitcoin_cash.value)+(@user.bitcoin * @bitcoin.value)- @coin_total_value + @sold_trades_total).round(8)%>
                    <% total_percentage = ((((@user.qtum * @qtum.value)+(@user.monero * @monero.value)+(@user.eos * @eos.value)+(@user.stellar * @stellar.value)+(@user.ethereum * @ethereum.value)+(@user.litecoin * @litecoin.value)+(@user.bitcoin_cash * @bitcoin_cash.value)+(@user.bitcoin * @bitcoin.value)+@sold_trades_total)/ @coin_total_value)/100).round(2)%>
<hr align="left" style="width:300px;">
      <% if total < 0.0 %>
      <p style="color:red;">Net Loss: $<%= total %> <br>Percentage Loss: <%= total_percentage  %>%</p>
      <%else%>
      <p style="color:green;">Net Gain: $<%= total %> <br>Percentage Gain: <%= total_percentage  %>%</p>
      <%end%>


            </div>
        </div>
    </div>
</div>
<div class="new-container">
    <%= image_tag('triangles.svg', :class => 'triangles') %>
</div>