<%= image_tag('crypto.svg') %>
<hr>
<br>
<p>Welcome, <%= @user.name %></p>
<p>Username: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p>Phone Number: <%= @user.phone %></p>
<p>Wallet: $<%= @user.wallet %></p>
<hr>
<%= button_to "Edit Profile", '/edit', :method => :get %>
<%= button_to "Add Funds", '/add_funds', :method => :get %>
