<div class="trades-container">
<%= form_tag("/trades", method: "get") do %>
<%= label_tag(:filter_type, "Filter By Type") %>
<%= select_tag(:description, options_for_select(['Buy','Sell']), prompt: "select") %>
<%= submit_tag("Search") %>
<%end%>

<%= form_tag("/trades", method: "get") do %>
<%= label_tag(:filter_coin, "Filter By Coin") %>
<%= select_tag(:coin, options_for_select(['Bitcoin','Bitcoin Cash', "Etherium", "litecoin", "Stellar"]), prompt: "select") %>
<%= submit_tag("Search") %>
<%end%>

<%@trades.each do |trade| %>
<hr>
<body>
  <span>Type:</span> <%= trade.description %>| <span>Coin:</span> <%= trade.crypto.name %>| <span>Amount</span> <%= trade.amount.round(8) %>| <span>Price:</span> $<%= trade.price  %>| 
  <span>Date of Trade:</span> <%= trade.created_at.in_time_zone("America/New_York").strftime("%A, %B %d, %Y at %I:%M:%S %p")  %>

</body>
<hr>


<% end %>

</div>
<div class="new-container">
  <%= image_tag('triangles.svg', :class => 'triangles') %>
</div>