<div class="trades-container">
  <h1 style="margin:0 0 20px 0;">Transaction History</h1>
  <div class="filters-container">
    <%= form_tag("/trades", method: "get") do %>
    <%= label_tag(:filter_type, "Filter By Type") %>
    <%= select_tag(:description, options_for_select(['Buy','Sell']), prompt: "select") %>
    <%= button_tag type: 'submit', class: "button" do %>
    Filter
    <% end %>
    <%end%>
    &nbsp;&nbsp;&nbsp;
    <%= form_tag("/trades", method: "get") do %>
    <%= label_tag(:filter_coin, "Filter By Coin") %>
    <%= select_tag(:coin, options_for_select(['Bitcoin','Bitcoin Cash', "Etherium", "litecoin", "Stellar"]), prompt: "select") %>
    <%= button_tag type: 'submit', class: "button" do %>
    Filter
    <% end %> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/trades"><button class="button">Reset</button></a>
    <%end%>
  </div>
  <%@trades.each do |trade| %>
  <hr>

  <body>
    <span>Transaction:</span> <%= trade.description %> | <span>Coin:</span>
    <%=image_tag(trade.crypto.logo, :style => 'height: 20px;')%>&nbsp;<%= trade.crypto.name %> | <span>Quantity:</span>
    <%= trade.amount.round(8) %> | <span>Price:</span> $<%= trade.price  %> |
    <span>Date of Trade:</span>
    <%= trade.created_at.in_time_zone("America/New_York").strftime("%A, %B %d, %Y at %I:%M:%S %p")  %>

  </body>
  <hr>


  <% end %>

</div>
<div class="new-container">
  <%= image_tag('triangles.svg', :class => 'triangles') %>
</div>