<div class="sell-container">

    <% if flash[:message] %>
    <%= flash[:message] %>
    <% end %>
    <h1>Sell Currency</h1>

    <%=form_for @trade do |f|%>
    <%=f.hidden_field :description, value: "Sell" %>
    <%= f.label "I'd like to sell" %>
    <%= f.select :amount, options_for_select([["Select One", ""], ["1 /4",25], ["Half", 50], ["3/4", 75], ["Max", 100]]), {}, class: 'dropdown-style' %>
    <%= f.label :crypto_id, "of my" %>
    <%=f.select :crypto_id, options_for_select([["Select One", ""], ["Bitcoin"], ["Bitcoin Cash"], ["Ethereum"], ["Litecoin"], ["Stellar"], ["EOS"], ["Qtum"], ["Monero"]]), {}, class: 'dropdown-style' %>
    <%= button_tag type: 'submit', class: "buy-button" do %>
    <i class="fas fa-donate"></i> &nbsp; Sell Cryptos
    <% end %>
    <% end %>
</div>
<div class="new-container">
    <%= image_tag('triangles.svg', :class => 'triangles') %>
</div>