<div class="sell-container">
<% if flash[:message] %>
<%= flash[:message] %>
<% end %>
<br>
Wallet<%= @user.wallet %>
<br>
<%=form_for @trade do |f|%>
<%= f.label "Purchase Type" %>
<%=f.hidden_field :description, value: "Sell" %>
<%= f.label :crypto_id %>
<%=f.select :crypto_id, options_for_select([["Select One", ""], ["Bitcoin"], ["Bitcoin Cash"], ["Ethereum"], ["Litecoin"], ["Stellar"], ["EOS"], ["Qtum"], ["Monero"]]) %>
<%= f.label "Sell" %>
<%= f.select :amount, options_for_select([["Select One", ""], ["1 /4",25], ["Half", 50], ["3/4", 75], ["Max", 100]]) %>
<%= f.submit "submit" %>
<% end %>
</div>
<div class="new-container">
    <%= image_tag('triangles.svg', :class => 'triangles') %>
</div>
